body {
	background: url('https://cdn.glitch.com/8d046880-a928-4672-9526-62198605706a%2F0120F7E4-618C-46C0-8C39-498AA10D0488.jpeg?v=1622124155676')
    no-repeat center fixed;
	background-size: cover;
	font-family: sans-serif;
}
.header .container {
	width: 70%;
	margin: auto;
	overflow: hidden;
	padding: 1rem;
	background-color: #fff;
	border-radius: 15px;
	text-align: center;
	margin-top: 35%;
}
.header .container hr {
	width: 80%;
}
.header .container > button {
	padding: 0.5rem 2rem;
	color: #fff;
	background-color: #4267b2;
	border: none;
	border-radius: 5px;
}
.header .container .sign input {
	padding: 0.5rem;
	width: 70%;
}
.header .container .sign input[type=checkbox] {
	padding: 0.5rem;
	width: auto;
}
.header .container .sign > button {
	padding: 1rem;
	background-color: #2ecc71;
	font-size: 1rem;
	width: 50%;
	border-radius: 7px;
	border: none;
}



.contact-us{
  width: 250px;
  background: #000;
  padding: 50px;
  margin: 100px auto;
  border-radius: 30px;
  position: relative;
}

.title h1{
  color: #fff;
  letter-spacing: 5px;
  margin-bottom: 25px;
  text-align: center;
}

.form,
.form-items{
  width: 100%;
}

.form-items .input{
  width: 100%;
  margin-bottom: 12px;
  padding: 15px 40px;
  box-sizing: border-box;
  background: #ebeef1;
  border: 0px;
  outline: none;
  border-radius: 30px;
}

.form-items .input.message{
  height: 125px;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 15px 15px;
  resize: none;
}

.btn{
  background: #827ffe;
  text-align: center;
  color: #000;
  padding: 12px;
  border-radius: 25px;
  cursor: pointer;
}

.btn .fas{
  margin-left: 10px;
  font-size: 12px;
}

.form-items{
  position: relative;
}

.form-items .fas{
  position: absolute;
  top: 15px;
  left: 15px;
  color: #9a99aa;
}

.social-icons{
  position: absolute;
  bottom: -25px;
  left: 50%;
  width: 200px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
}

.social-icons div{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}


.social-icons div .fab{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #000;
}

.social-icons div.facebook{
  background: #5178d9;
}

.social-icons div.twitter{
  background: #41caf6;
}

.social-icons div.google{
  background: #fb4f4f;
}